<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Dao.MessageMapper" >
  <resultMap id="BaseResultMap" type="Entity.Message" >
    <id column="messageId" property="messageid" jdbcType="VARCHAR" />
    <result column="senderId" property="senderid" jdbcType="VARCHAR" />
    <result column="receiverId" property="receiverid" jdbcType="VARCHAR" />
    <result column="messageText" property="messagetext" jdbcType="VARCHAR" />
    <result column="messageDate" property="messagedate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    messageId, senderId, receiverId, messageText, messageDate
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="Entity.MessageExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from message
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from message
    where messageId = #{messageid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from message
    where messageId = #{messageid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="Entity.MessageExample" >
    delete from message
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="Entity.Message" >
    insert into message (messageId, senderId, receiverId, 
      messageText, messageDate)
    values (#{messageid,jdbcType=VARCHAR}, #{senderid,jdbcType=VARCHAR}, #{receiverid,jdbcType=VARCHAR}, 
      #{messagetext,jdbcType=VARCHAR}, #{messagedate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="Entity.Message" >
    insert into message
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="messageid != null" >
        messageId,
      </if>
      <if test="senderid != null" >
        senderId,
      </if>
      <if test="receiverid != null" >
        receiverId,
      </if>
      <if test="messagetext != null" >
        messageText,
      </if>
      <if test="messagedate != null" >
        messageDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="messageid != null" >
        #{messageid,jdbcType=VARCHAR},
      </if>
      <if test="senderid != null" >
        #{senderid,jdbcType=VARCHAR},
      </if>
      <if test="receiverid != null" >
        #{receiverid,jdbcType=VARCHAR},
      </if>
      <if test="messagetext != null" >
        #{messagetext,jdbcType=VARCHAR},
      </if>
      <if test="messagedate != null" >
        #{messagedate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="Entity.MessageExample" resultType="java.lang.Integer" >
    select count(*) from message
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update message
    <set >
      <if test="record.messageid != null" >
        messageId = #{record.messageid,jdbcType=VARCHAR},
      </if>
      <if test="record.senderid != null" >
        senderId = #{record.senderid,jdbcType=VARCHAR},
      </if>
      <if test="record.receiverid != null" >
        receiverId = #{record.receiverid,jdbcType=VARCHAR},
      </if>
      <if test="record.messagetext != null" >
        messageText = #{record.messagetext,jdbcType=VARCHAR},
      </if>
      <if test="record.messagedate != null" >
        messageDate = #{record.messagedate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update message
    set messageId = #{record.messageid,jdbcType=VARCHAR},
      senderId = #{record.senderid,jdbcType=VARCHAR},
      receiverId = #{record.receiverid,jdbcType=VARCHAR},
      messageText = #{record.messagetext,jdbcType=VARCHAR},
      messageDate = #{record.messagedate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="Entity.Message" >
    update message
    <set >
      <if test="senderid != null" >
        senderId = #{senderid,jdbcType=VARCHAR},
      </if>
      <if test="receiverid != null" >
        receiverId = #{receiverid,jdbcType=VARCHAR},
      </if>
      <if test="messagetext != null" >
        messageText = #{messagetext,jdbcType=VARCHAR},
      </if>
      <if test="messagedate != null" >
        messageDate = #{messagedate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where messageId = #{messageid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="Entity.Message" >
    update message
    set senderId = #{senderid,jdbcType=VARCHAR},
      receiverId = #{receiverid,jdbcType=VARCHAR},
      messageText = #{messagetext,jdbcType=VARCHAR},
      messageDate = #{messagedate,jdbcType=TIMESTAMP}
    where messageId = #{messageid,jdbcType=VARCHAR}
  </update>
</mapper>